/* Allgemeine Stile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: #e0dde7;
  overflow: hidden; /* Deaktiviert Scrollen für die gesamte Seite */
  height: 100vh; /* Vollbildhöhe */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.default-btn {
  background-color: #73ba86;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  width: 100%;
}

.default-btn:hover {
  background-color: #439457;
}

.test-links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 1em;
}

.logo {
  letter-spacing: 5px;
  padding-top: 1em;
}

/* Phone-Rahmen */
.phone-frame {
  width: 400px; /* Breite des Rahmens, z.B. iPhone */
  height: 800px; /* Höhe des Rahmens */
  margin: 0 auto; /* Zentriere den Rahmen */
  border: 6px solid #000; /* Rahmen */
  border-radius: 30px; /* Abgerundete Ecken */
  background-color: #fff; /* Hintergrundfarbe des "Screens" */
  overflow: hidden; /* Inhalt, der aus dem Rahmen herausragt, ausblenden */
  position: relative; /* Wichtiger Bezugspunkt für Positionierung */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Layout mit Grid */
.app-layout {
  display: grid;
  grid-template-areas:
    "header"
    "content  "
    "footer ";
  grid-template-rows: auto 1fr auto;
  height: 100%; /* Vollbildhöhe */
  max-width: 400px;
}

/* Header */
.header {
  grid-area: header;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 1rem;
  text-align: center;
  font-size: 0.5rem;
}

/* Main Content */
.content {
  grid-area: content;
  padding: 4rem;
  background-color: #ffffff;
  overflow-y: auto;
  align-items: center;
  overflow-y: auto; /* Scrollen innerhalb des Phone-Frames aktivieren */
  height: fit-content;
}

/* First Page css */

.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: small;
}

.first-page p {
  margin-top: 1em;
}
.first-page span {
  font-weight: bold;
}

.fp-headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
  margin-top: 15em;
}

.fp-headline p {
  margin-top: 1em;
}

.fp-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fp-signup-btn {
  background-color: #73ba86;
  color: white;
  padding: 10px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5em;
  width: 100%;
}

.fp-signup-btn:hover {
  background-color: #439457;
}

.fp-guest-btn {
  background-color: #73ba86;
  color: white;
  padding: 10px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.1em;
}

.fp-guest-btn:hover {
  background-color: #439457;
}

/* Login Page css */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-align: center;
}

.login span {
  font-weight: bold;
}
.login p {
  margin-top: 1em;
}

.login-form {
  margin-top: 1em;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 0.5em 0;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*signup page css */

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: small;
}

.signup h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.signup-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Welcome Page css */

.welcome button {
  margin-top: 30em;
}

.welcome-btn {
  background-color: #73ba86;
  color: white;
  padding: 14px 30px;
  margin: 2rem 0 0 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*Reminder Page css */

.reminder {
  padding: 1em;
  font-size: small;
}

.r-headline p {
  margin-top: 1em;
}

.r-headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
}

.time {
  margin: 1em 0;
  padding: 3em 5em;
  border-radius: 10px;
  background-color: #73ba86;
  color: white;
}

.choose-days div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: small;
  background-color: #73ba86;
  border-radius: 100%;
  margin: 1em 0;
  width: 3em;
  height: 3em;
  box-shadow: 0px 0px 10px 0px #73ba86;
}

.choose-days div:hover {
  background-color: #439457;
}

.choose-days button {
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  background: none;
}

.no-thanks {
  text-decoration: underline;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  text-align: center;
}

.no-thanks:hover {
  text-decoration: #439457;
  color: #439457;
}

/* Allgemeines Styling für die Navbar */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: column; /* Stellt sicher, dass die Bilder oben und die Links darunter sind */
  align-items: center; /* Zentriert die Inhalte horizontal */
  text-align: center;
}

li img {
  width: 20px; /* Größe der Icons anpassen */
  height: 20px; /* Größe der Icons anpassen */
  margin-bottom: 0.5rem; /* Abstand zwischen Icon und Link */
}

li a {
  text-decoration: none;
  color: #000000; /* Farbe der Links */
  font-size: 1rem; /* Schriftgröße anpassen */
}

/* Navbar am unteren Rand */

.navbar-bottom ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar-bottom li {
  margin: 0 1rem;
}

.navbar-bottom a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-bottom a:hover {
  text-decoration: none;
  color: rgb(88, 144, 23);
}

.nav-icon {
  display: flex;
  flex-direction: row;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  grid-area: footer;
  background-color: #73ba86;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); /* Schlagschatten nach oben */
  position: absolute; /* Innerhalb des Phone-Rahmens fixieren */
  color: white;
  text-align: center;
  padding: 2rem;
  text-align: center;
  z-index: 1000; /* Sicherstellen, dass sie immer sichtbar ist */
}

/* Media Queries für mobile Geräte (z.B. iPhone 12 Plus) */

@media (max-width: 932px) {
  /* Anpassen der App-Layout für kleine Bildschirme */

  .logo {
    font-size: 1rem; /* Kleinere Schriftgröße für das Logo */
  }
  .app-layout {
    grid-template-columns: 1fr; /* Nur eine Spalte, keine Sidebar */
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  /* Content-Layout */
  .content {
    padding: 1rem;
    font-size: 14px; /* Kleinere Schrift für den Content */
  }

  /* Navbar am unteren Rand */
  .navbar-bottom {
    position: relative;
    padding: 1rem;
    text-align: center;
    z-index: 1000; /* Immer sichtbar */
  }

  .navbar-bottom ul {
    padding: 0;
    gap: 1rem; /* Abstand zwischen den Elementen */
  }

  .navbar-bottom li {
    margin: 0.5rem 0; /* Weniger Abstand zwischen den Links */
  }

  .navbar-bottom a {
    font-size: 1rem; /* Kleinere Schrift für Links */
  }

  /* Footer-Größe anpassen */
  .footer {
    padding: 0.8rem; /* Weniger Padding im Footer */
  }
}
/*
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Sans";
    src: url('./assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;3
}

html {
    font-family: "Sans";
}

*/
